{
  "scope": "http://supermodel.io:80",
  "method": "GET",
  "path": "/adidas/product/utils/CodeDescription",
  "body": "",
  "status": 200,
  "response": {
    "$id": "http://supermodel.io/adidas/product/utils/CodeDescription",
    "$schema": "http://json-schema.org/draft-07/schema#",
    "title": "Code Description Tuple",
    "description": "Helper data structure to hold any code - description pair",
    "type": "object",
    "properties": {
      "code": {
        "type": "string"
      },
      "description": {
        "type": "string"
      }
    }
  },
  "rawHeaders": [
    "Cowboy",
    "Sat, 02 Mar 2019 23:33:44 GMT",
    "close",
    "Content-Type",
    "application/schema+json; charset=utf-8",
    "Etag",
    "W/\"9ad124157222ac6ed902e942f7b881ed\"",
    "max-age=0, private, must-revalidate",
    "2185f0e2-caf1-4342-9163-2f1fd9fae5b6",
    "0.005517",
    "chunked",
    "1.1 vegur"
  ]
}