{
  "scope": "http://supermodel.io:80",
  "method": "GET",
  "path": "/adidas/product/SKU",
  "body": "",
  "status": 200,
  "response": {
    "$id": "http://supermodel.io/adidas/product/SKU",
    "$schema": "http://json-schema.org/draft-07/schema#",
    "title": "SKU",
    "type": "object",
    "properties": {
      "EAN": {
        "type": "string"
      },
      "UPC": {
        "type": "string"
      },
      "srcSizeCD3": {
        "type": "string"
      },
      "srcSizeScale": {
        "type": "string"
      },
      "srcSizeDescription": {
        "type": "string"
      },
      "conversionIDs": {
        "type": "array",
        "items": [
          {
            "type": "object",
            "properties": {
              "localSize": {
                "type": "string"
              },
              "saleSizeConvID": {
                "type": "string"
              },
              "saleSizeScale": {
                "type": "string"
              },
              "saleSizeAbbr": {
                "type": "string"
              },
              "saleSizeDesc": {
                "type": "string"
              }
            }
          }
        ]
      }
    },
    "examples": [
      {
        "EAN": "4058026055128",
        "UPC": "885591427616",
        "srcSizeCD3": "380",
        "srcSizeScale": "T4",
        "conversionIDs": [
          {
            "saleSizeConvID": "D",
            "saleSizeScale": "8C",
            "saleSizeAbbr": "27"
          }
        ]
      }
    ]
  },
  "rawHeaders": [
    "Cowboy",
    "Sat, 02 Mar 2019 23:33:44 GMT",
    "close",
    "Content-Type",
    "application/schema+json; charset=utf-8",
    "Etag",
    "W/\"2f15068e6b0bf318d047b2ae9bc4893c\"",
    "max-age=0, private, must-revalidate",
    "e7106f15-30ab-4f4d-8a6b-7e667c07fba1",
    "0.072544",
    "chunked",
    "1.1 vegur"
  ]
}