{
  "scope": "http://supermodel.io:80",
  "method": "GET",
  "path": "/adidas/product/Catalogues",
  "body": "",
  "status": 200,
  "response": {
    "$id": "http://supermodel.io/adidas/product/Catalogues",
    "$schema": "http://json-schema.org/draft-07/schema#",
    "title": "Catalogues",
    "type": "object",
    "properties": {
      "locale": {
        "type": "string"
      },
      "acsModelName": {
        "type": "string"
      },
      "b2cModelName": {
        "type": "string"
      },
      "b2cCopy": {
        "type": "string"
      },
      "b2cCopyShort": {
        "type": "string"
      },
      "b2bCopy": {
        "type": "string"
      },
      "b2bCopyShort": {
        "type": "string"
      },
      "materialComposition": {
        "type": "string"
      },
      "materialConstruction": {
        "type": "string"
      },
      "bullets1": {
        "type": "string"
      },
      "bullets2": {
        "type": "string"
      },
      "bullets3": {
        "type": "string"
      },
      "bullets4": {
        "type": "string"
      },
      "bullets5": {
        "type": "string"
      },
      "bullets6": {
        "type": "string"
      },
      "bullets7": {
        "type": "string"
      },
      "bulletWeight": {
        "type": "string"
      },
      "bulletMeasurements": {
        "type": "string"
      },
      "bulletFit": {
        "type": "string"
      },
      "bulletMaterial": {
        "type": "string",
        "examples": [
          {
            "locale": "en-GB",
            "acsModelName": "COPA MUNDIAL",
            "b2cModelName": "COPA MUNDIAL",
            "b2cCopy": "De populairste voetbalschoen ooit, en terecht. De adidas Copa Mundial heeft een bovenwerk van rijk leer en een loopzool met dubbele dichtheid die al decennia lang de toon zet voor comfort en prestaties op het veld.",
            "b2cCopyShort": "Entraîne-toi comme les pros avec ce haut de l'équipe de Belgique de football.",
            "b2b[...]
